<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login">
    <div class="container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {% if 'success' in message %}success{% else %}error{% endif %};">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="{{ form.username.id }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id }}">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">{{ form.submit }}</button>
        </form>
    </div>
</body>
</html>
