<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body class="login">
    <div class="container">
      <h2>Login</h2>
      <form method="post" action="{{ url_for('victim_login') }}">
        <div class="form-group">
          <label for="key">Key:</label>
          <input type="text" id="key" name="key" required>
        </div>
        <button type="submit">Login</button>
      </form>
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
    </div>
  </body>
</html>

